/* 
Fonts from mock up:

EME Bar -  Roboto Bold 14px (Google Font)

Main Menu - Montserrat Bold 16px (Google Font)

Play Button - Montserrat Bold 18px
True Action Combat - Montserrat Bold 42px
True Action Combat Description - Roboto 18px

Races Section Heading - Montserrat Bold 72px
Race Name - Montserrat Bold 48px
Race Description - Roboto 21px
Race Icon Label - Montserrat Bold 16px

Copyright Notice - Roboto 16px
*/

/* 
Colors from mock up:

EME Bar - #0c1c33 (main), #183561 (border)

Main Menu - Gradient (#ffffff, #ececec)
Button color - (#00c7fa or rgb(0,199,250))

Headline Gradients - (#f0e4d2, #fab83c)

True Action Combat Section background (#566aa2)

Races Background (#909090)

Races Gold Bar Gradient (#f0e4d2, #fab83c)

Race icon button (#fab83c or rgb(250,184,60))

*/
